/*font-family: 'Belanosima', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Raleway', sans-serif;*/
:root{
    --dark: #15141eeb;
    --headline: #fffffe;
}

.navbar{
    background-color: var(--headline);
}
.navbar-nav{
    justify-content: space-evenly;
    gap: 20px;
}
.nav-item{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
}
.hero{
    background-color: var(--dark);
    height: 90vh;
    border-radius: 0 0 50% 50%;
    text-align: center;
}
h1 {
  color: var(--headline);
  font-family: "Exo 2", sans-serif;
  font-weight: 800;
  font-size: 90px;
  padding-top: 140px;
}
p {
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  font-weight: 400;
  color: var(--headline);
  padding-top: 20px;
}